.hotDealsCon, .container{
    width: 1112px;
    margin: 5.5rem auto;
}

.title{
    color: rgb(28, 60, 107);
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.3rem;
    letter-spacing: .14px;
}

.btn{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: rgb(28, 60, 107);
    background-color:  #fccd03;
    padding: 2rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 1.2rem;
}