
.title{
    text-align: center;
    color: rgb(28, 60, 107);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .13px;
}
.detailsBtn {
    background-color: #1c3c6b;
    color: #fff;
    position: relative;
    padding: .3rem 1rem;
    border-radius: .2rem;
    display: block;
    margin: .5rem auto;
}

/* .detailsBtn::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) rotateX(140deg);
    width: 16px;
    height: 16px;
    background-color: red;
    box-sizing: border-box;

} */