.hotelFilterCon {
    width: 266px;
    background-color: white;
    padding: .5rem .8rem;
    height: 100%;
}

.hotelSearchCon {
    width: calc(100% - 266px);
}

@media screen and (max-width:992px) {
    .hotelSearchCon {
        width: 100%;
       
    }
    .hotelFilterCon {
        width: 100%;
        position: fixed;
        bottom: 2%;
        left: 0;
        z-index: 51;
    }
    
}
.filterOption h2 {
    color: rgb(58, 72, 86);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .14px;
}
.hotelSearchCon .filterOption h3 {
    color: rgb(58, 72, 86);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .14px;
}

.filterOption button {
    color: rgb(23, 49, 87);
    font-size: 12px;
    font-weight: 500;
}

.hotelFilterCon h3 {
    color: rgb(2, 39, 56);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: .7rem;
    letter-spacing: .14px;
}

.formControl {
    display: flex;
    align-items: center;
    gap: 6px;
}

.formControl label {
    color: rgb(2, 39, 56);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .14px;
}

/* ratings container  */
.ratingCon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 5px;
}

.ratingCon p {
    padding: .2rem .4rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.propertyCon {
    border: 1px solid #1c3c6b;
    border-radius: 6px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.propertyCon input {
    width: 100%;
    font-size: 14px;
    outline: none;
    border: none;
    padding: 0 .4rem;
}

.priceRangeCon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 4px;
}

.priceRangeCon input {
    width: 40%;
    padding: .6rem .8rem;
    border: 1px solid #1c3c6b;
    border-radius: 8px;
    outline: none;
}

.priceRangeCon button {
    padding:.8rem;
    background-color: #1c3c6b;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}


/* hotel details section starts here  */
.hotelDetails h2{
    font-size: 20px;
    color: rgb(28, 60, 107);
    font-weight: 700;
    letter-spacing: 0.14px;
    margin: 0.3rem 0;
}

.hotelDetails h3{
    font-size: 18px;
    font-weight: 600;
    color: rgb(34, 41, 47);
}

.hotelDetails h4{
    font-size: 14px;
    font-weight: 600;
    color: rgb(58, 72, 86);
    letter-spacing: 0.14px;
}
.hotelDetails p, .hotelDetails button{
    font-size: 14px;
    font-weight: 400;
    color: rgb(58, 72, 86);
    letter-spacing: 0.14px;
}
.hotelDetails h5{
    color: rgb( 129,138, 147);
    font-size: 12px;
    font-weight: 500;
}

.nearbySection iframe{
    width: 100%;
    height: 350px;
}
@media screen and (max-width:668px) {
    .nearbySection iframe{
        height: 250px;
    }
}
.hotelDetails h6{
    color: #1c3c6b;
    font-size: 14px;
    font-weight: 700;
}

.hotelDetails ul {
    margin-left: 1.3rem;
}

.hotelDetails ul li{
    color: rgb( 129,138, 147);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

@media screen and (max-width:992px) {
    .hotelSearchCon {
        width: 100%;
    }
    .activeFilter{
        display: block !important;
    }
    .removeFilter{
        display: none !important;
    }
}

.filterBtn{
    background-color: #fccd03;
    width: 70%;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    color: black;
    font-size: 15px;
    display: block;
}