
.navContent {
    max-width: 1112px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.btn{
    font-weight: 600;
    border-color: #1c3c6b;
    background-color: #1c3c6b;
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .358rem;
    display: inline-block;
}   
.itemContainer p{
    color: rgb(28, 60, 107);
    font-weight: 600;
    font-size: 14px;
    
}