.navContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    transition: all ease-in-out .2s;
    z-index: 100;
}
.navContent {
    max-width: 1112px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.btn{
    font-weight: 600;
    border-color: #1c3c6b;
    background-color: #1c3c6b;
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .358rem;
    display: inline-block;
}   
.itemContainer{
    cursor: pointer;
}
.itemContainer p{
    color: rgb(28, 60, 107);
    font-weight: 600;
    font-size: 14px;
}

.activeTab {
    border-bottom: 1px solid #fccd03;
    border-width: 120%;
}
