.slider{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.slider .sliderImg{
    height: 200px !important;
    border-radius: 10px;
    transition: transform ease-in-out .4s;
}
.slider .sliderImg:hover{
    transform: scale(1.2);
}
.sliderContent{
    position: absolute;
    bottom: .5rem;
    left: .5rem;
}
.sliderContent h2 {
    font-size: 18px;
    color: white;
    font-weight: 600;
    letter-spacing: .14px;
    text-align: left;
}
.sliderContent p {
    font-size: 12px;
    color: white;
    font-weight: 400;
    letter-spacing: .14px;
    text-align: left;
}